<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>CV</title>
  <link rel="stylesheet" href="../../css/estils.css" />
  
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">

</head>
<body>

  <!-- BARRA DE NAVEGACIÓN -->
  <header>
    <div class="nav-bar">
      <div class="nav-left">
        <a href="index_en.html"><i class="fa-solid fa-earth-americas icon"></i></a>
       
      </div>
      <div class="nav-right">
        
        <a href="./education.html"><i class="fa-solid fa-signs-post"></i></a>
        <a href="./experiencia.html"><i class="fa-solid fa-passport"></i></a>
        <a href="../../index.html"><i class="fa-solid fa-language"></i></a>
      </div>
    </div>
  </header>

  <!-- CONTENIDO PRINCIPAL -->
  <main>
    <section class="seccion1">
      <h2>Experience:</h2>
      <p>I completed an internship at an educational center, where I accumulated a total of 383 hours of practical experience. During this period, I was involved in tasks such as technical support, hardware maintenance, software installation, and basic troubleshooting. This opportunity allowed me to apply the knowledge gained in my studies and strengthen my skills in a real-world work environment.</p>
    </section>
    <section class="seccion2">
      <h2>Additional Work Experience:</h2>
      <p>During the summer, I worked with my father in the parcel delivery sector. This experience helped me develop skills such as responsibility, punctuality, route planning, and customer service. I also gained practical insight into teamwork and time management in fast-paced work environments.</p>
    </section>
    <section class="seccion3">
      <img src="../../img/informatico.jpg" alt="informatica" width="70%" height="80%">
    </section>
  </main>

</body>
</html>
