<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>CV</title>
  <link rel="stylesheet" href="../../css/estils.css" />
  
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">

</head>
<body>

  <!-- BARRA DE NAVEGACIÓN -->
  <header>
    <div class="nav-bar">
      <div class="nav-left">
        <a href="index_en.html"><i class="fa-solid fa-earth-americas icon"></i></a>
       
      </div>
      <div class="nav-right">
        
        <a href="./education.html"><i class="fa-solid fa-signs-post"></i></a>
        <a href="./experiencia.html"><i class="fa-solid fa-passport"></i></a>
        <a href="../../index.html"><i class="fa-solid fa-language"></i></a>
      </div>
    </div>
  </header>

  <!-- CONTENIDO PRINCIPAL -->
  <main>
    <section class="seccion1">
      <h2>ABOUT ME:</h2>
      <p>I’m Roberto, an 18-year-old passionate about computer science. I’m currently studying this field with the goal of becoming a professional in the world of technology. I’m interested in learning how to use technology to solve real-world problems. I consider myself curious, committed, and eager to continue growing in this area.</p>
    </section>
    <section class="seccion2">
      <h2>PERSONAL INFORMATION:</h2>
      <p>Date of birth: 12/22/2006
        <br>        
            Nationality: Spanish
        <br>
            Languages: Spanish, Catalan, English, French
        <br>
            Education: I am currently studying a medium-level vocational training course in computer science.
        </p>
    </section>
    <section class="seccion3">
      <h2>VIDEO:</h2>
<div class="container"> 
<iframe class="responsive-iframe" src="https://www.youtube.com/embed/Q1GB9OOHAuI" title="ingles" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
     
    </div>
    </section>
  </main>

</body>
</html>
