<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>CV</title>
  <link rel="stylesheet" href="../css/estils.css" />
  
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">

</head>
<body>

  <!-- BARRA DE NAVEGACIÓN -->
  <header>
    <div class="nav-bar">
      <div class="nav-left">
        <a href="../index.html"><i class="fa-solid fa-earth-americas icon"></i></a>
       
      </div>
      <div class="nav-right">
        
        <a href="./estudis.html"><i class="fa-solid fa-signs-post"></i></a>
        <a href="./experiencia.html"><i class="fa-solid fa-passport"></i></a>
        <a href="en/index_en.html"><i class="fa-solid fa-language"></i></a>
      </div>
    </div>
  </header>

  <!-- CONTENIDO PRINCIPAL -->
  <main>
    <section class="seccion1">
      <h2>Practicas:</h2>
      <p>He realizado prácticas formativas en un centro de estudios, donde completé un total de 383 horas. Durante este periodo, participé en tareas relacionadas con el soporte técnico, mantenimiento de equipos, instalación de software y resolución de incidencias básicas. Esta experiencia me permitió aplicar los conocimientos adquiridos en clase y desarrollar habilidades en entornos reales de trabajo.</p>
    </section>
    <section class="seccion2">
      <h2>Experiencia Laboral Adicional:</h2>
      <p>Durante el verano, trabajé junto a mi padre en el sector de la mensajería y reparto de paquetes. Esta experiencia me permitió desarrollar habilidades como la responsabilidad, la puntualidad, la organización de rutas y la atención al cliente. Además, adquirí una visión práctica del trabajo en equipo y la gestión del tiempo en entornos laborales dinámicos.</p>
    </section>
    <section class="seccion3">
  <img src="../img/informatico.jpg" alt="informatica" width="70%" height="80%">
    </section>
  </main>

</body>
</html>
